/* body { background-image: linear-gradient(to top, rgb(0, 255, 255), rgb(0, 0,
155) 50%, rgb(25, 22, 28) 100%) } */


.rows {
  display: inline-flex;
  align-items: center;
  align-content: center;
  align-self: center;
  justify-content: center;
  flex-direction: column;
  margin: 5px;
  width: 100%;
  height: 100%;
}

#age {
  width: 150px;
  margin: 10px;
}

.row-2 {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-right: 1px solid darkred;
}

.row-3 {
  padding: 20px;
  text-align: center;
  }

.raw-4 {
  max-width: 100%;
}

.raw-5 {
  display: inline-flex;
  flex-direction: row;
}

.raw-6 {
  width: 274px;
}

.raw-7 {
  //width: 380px;
  overflow-wrap: anywhere;
}

.bar-name {
  font-size: 8vw;
  letter-spacing: 0.2em;
  color: dimgrey;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  position: all;
}

.icon-2 {
  font-size: 2vw;
  letter-spacing: 1em;
}

.icon-3 {
  font-size: 8vw;
  letter-spacing: 1em;
}

.members-list {
  color: darkred;
  text-shadow: darkred;
  text-align: center;
}

.card-div {
  border-style: solid;
  padding: 2vw;
  margin: 15vw;
  margin-top: 1vw;
}

h1 {
  font-size: 160%;
  font-weight: bold;
}

.containerbackground {
position:absolute;
}

.w {
  border-style: solid;
  margin: 15vw;
  margin-bottom: 1vw;
  margin-top: 1vw;
  justify-content: center;
  display: flex;
}

.pk {
  width: 10em;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
}

.peers-list-2{
  border-style: solid;
  margin: 2vw;
  width: 25vw;
  text-align: center;
}

.peers-list{
  text-align: center;
  display: flex;
}

.peers-icon{
  margin: 2vw;
  width: 25vw;
}

.peers-list-wrap{
  display: flex;
  flex-wrap: wrap;
}

.smalle-tagline {
  width: 80%;
  overflow: hidden;
  text-overflow: "...";

}

//--------- Chat styling --------------------

.chat-container {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

.chat-div {
  margin: 0 auto;
  max-width: 800px;
  padding: 0 20px;
}

.darker:nth-child(odd) {
  background: #sea;
  border-color: #ccc;
}

.darker:nth-child(even) {
  border-color: #ccc;
  background-color: #ddd;
  text-align: end;
}

.chat-container::after {
  content: "";
  clear: both;
  display: table;
}

.chat-container img {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

.chat-container img.right {
  float: right;
  margin-left: 20px;
  margin-right:0;
}

.time-right {
  float: right;
  color: #aaa;
}

.time-left {
  float: left;
  color: #999;
}

.chat-input {
  position: initial;
  bottom: 0px;
  right: 0px;
  left: 0px;
}

//-----------End Chat styling -----------------
