/* .h2 {
  color: #ff3e00;
  text-transform: uppercase;
  font-size: 4em;
  font-weight: 100;
} */

:root {
  --pitch: #000;
  --bone: #fff;
  --wizardry: #bf37ff;
  --sorcery: #379fff;
  --pool: #016fd0;
  --shadow: #751290;
  --ember: #ff3f37;
  --blood: #eb001b;
  --grave: #777;
  --ash: #c4c4c4;
  --poison: #77ff37;
  --slate: rgb(65, 84, 98);
  --leaf: #48ad19;
  --blurSize: 10px;
}

/* Theme overrides for pico-css.
 * (no that's a completely unrelated project the cryptic picoverse
 *  but the authors seem to be of a similar mindset <3)
 */
/* Purple Light scheme (Default) */
/* Can be forced with data-theme="light" */
[data-theme="light"],
:root:not([data-theme="dark"]) {
  --primary: #8e24aa;
  --primary: var(--pitch);
  --primary-hover: #7b1fa2;
  --primary-focus: rgba(142, 36, 170, 0.125);
  --primary-inverse: #FFF;
}

/* Purple Dark scheme (Auto) */
/* Automatically enabled if user has Dark mode enabled */
@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme="light"]) {
    --primary: #8e24aa;
    --primary-hover: #9c27b0;
    --primary-focus: rgba(142, 36, 170, 0.25);
    --primary-inverse: #FFF;
  }
}

/* Purple Dark scheme (Forced) */
/* Enabled if forced with data-theme="dark" */
[data-theme="dark"] {
  --primary: #8e24aa;
  --primary-hover: #9c27b0;
  --primary-focus: rgba(142, 36, 170, 0.25);
  --primary-inverse: #FFF;
}

/* Purple (Common styles) */
:root {
  --form-element-active-border-color: var(--primary);
  --form-element-focus-color: var(--primary-focus);
  --switch-color: var(--primary-inverse);
  --switch-checked-background-color: var(--primary);
}

root [data-theme="dark"] {
  background-color: var(--pitch);
}
/*-- END OF Pico-css config --*/

/* Typography */
h1, h2, h3 { font-weight: 100; }
h4, h5, h6, button {
  font-weight: bold;
  text-transform: uppercase;
}


/* global components */
main.has-bar { padding-bottom: 4em; }
main.has-dev { padding-top: 1em; }
bar {
  background-color: var(--pitch);
  position: fixed;
  bottom: 0;
  width: 100vw;
  margin: 0;
  height: 4em;
  padding: 0 0.6em;
}
bar round {
  display: inline-block;
  margin: 0.3em;
  box-shadow: 0 0 var(--blurSize) var(--ash);
  width: 36pt;
  height: 36pt;
  text-align: center;
  border-radius: 100%;
}
bar round:nth-child(1) { box-shadow: 0 0 var(--blurSize) var(--wizardry); }
bar round:nth-child(2) { box-shadow: 0 0 var(--blurSize) var(--sorcery); }
bar round:nth-child(4) { box-shadow: 0 0 var(--blurSize) var(--blood); }
bar round:nth-child(5) { box-shadow: 0 0 var(--blurSize) var(--leaf); }
bar stat { display: block; line-height: 0; }
bar stat h3, bar stat h6 {
  color: var(--chalk);
  line-height: 1rem;
  margin: 0;
  padding: 0;
}
bar stat h6 {
  font-size: smaller;
  margin-top: 4px;
}


dev-bar {
  position: fixed;
  width: 100%;
  padding: 0px 4px;
  font-size: small;
  background-color: var(--pitch);
  color: var(--ash);
}
dev-bar btn {
  margin: 0 0px;
  padding: 0 1em;
  font-size: small;
  font-weight: bold;
  background-color: var(--shadow);
  color: var(--bone);
  border: none;
  display: inline;
}
dev-bar btn.danger {
  background-color: var(--blood);
}

idsqr {
  display: block;
  background-color: var(--pitch);
  width: 300px;
  height: 300px;
  padding: 1em;
}
.row, .column, .col { display: flex; }
.view-shop {
  background-color: var(--pitch);
  display: block;
}
